#wpac-rating
script.
  wpac_init = window.wpac_init || [];
  wpac_init.push({widget: 'Rating', id: #{theme.rate.id}});
  (function() {
    if ('WIDGETPACK_LOADED' in window) return;
    WIDGETPACK_LOADED = true;
    var mc = document.createElement('script');
    mc.type = 'text/javascript';
    mc.async = true;
    mc.src = '//embed.widgetpack.com/widget.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mc, s.nextSibling);
  })();
style.
  #wpac-rating {
    margin-top: 20px;
    text-align: center;
  }